/* MAIN */

table {

    text-align: center;
    border-collapse: collapse;
    width: 50%;
    border-color: black;
}

th {

    background-color: #246355;
    color: white;
    font-size: x-large;

}

.fila_lunes {

    background-color: grey;
    color: rgb(4, 4, 59);

}

.fila_martes {

    background-color: #ddd;
    color: rgb(97, 97, 2);

}

.fila_miercoles {

    background-color: rgb(231, 146, 19);;
    color: rgb(4, 4, 59);

}

.fila_jueves {

    background-color: rgb(241, 184, 76);
    color: rgb(97, 97, 2);

}

.fila_viernes {

    background-color: rgb(91, 206, 24);
    color: rgb(4, 4, 59);

}

.fila_sabado {

    background-color: #78ca67;
    color: rgb(97, 97, 2);

}

.fila_domingo {

    background-color: rgba(141, 16, 16, 0.863);
    color: rgb(4, 4, 59);

}

.dias {

    font-weight: bold;
    font-size: large;

}

.hora {

    font-style: italic;
    font-size: small;

}